<!DOCTYPE html>
<html>
  <head>
    <title>Photogur</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content= "width=devide=width, initial-scale=1.0">
  </head>

  <body>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- You can update your application layout file to show the user's name if they're logged in and some contextual links. -->
    <% if current_user %>
    Signed in as <%= current_user.first_name %> | <%= link_to "Logout", '/logout' %><br>
    <%= link_to 'Upload Picture', 'pictures' %>
    <%= link_to 'Account', account_path %>
    <% else %>
    <%= link_to 'Login', '/login' %> | <%= link_to 'Signup', '/signup' %>
    <% end %>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>



    <%= yield %>
  </div>
  </body>
</html>
