<%= form_for book do |f| %>

<div>
   <%= f.label :image %>
   <%= f.file_field :image %>
 </div>

 <div>
   <%= f.label :description %>
   <%= f.text_area :description %>
 </div>

 <%= f.submit %>
<% end %>
